@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
body{
	margin: 0 0;
	font-family: 'Open Sans';
}
.main{
	background: #2d5358;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-transform: uppercase;
}
.main-top{
	height: 50px;
	display: flex;
	padding: 0 15px;
}
.logo{
	/*display: flex;*/
}
.logo a{
	/*margin: auto;*/
	color: white;
	text-decoration: none;
	font-size: 15pt;
	line-height: 50px;
}
.menu-btn {
	padding:0;
	margin: auto 0 auto auto;
	height: 34px;
}
img{
	width: 42px;
	height: 32px;
	border: 1px solid white;
	margin:auto;
}

ul li {
	display: block;
}